<% include ./partials/head %>

<div class="container">
  <div class="jumbotron">
      <h1 class="display-3">About perma<i class="fa fa-ravelry" aria-hidden="true"></i>bolt</h1>
      <p class="lead">I already told you..</p>
      <hr class="my-4" />
      <p>it is a silly place; you'll fit right in...</p>
      <p class="lead">
          <a class="btn btn-dark btn-lg" href="/" role="button">back</a>
      </p>
  </div>
</div>

<% include ./partials/foot %>
