<% include ./partials/head %>

<div class="container">
  <div class="jumbotron">
      <div class="container">
          <h1 class="display-3">Welcome to perma<i class="fa fa-ravelry" aria-hidden="true"></i>bolt</h1>
          <p class="lead">we hope you like it here...</p>
          <hr class="my-4" />
          <p>it is a silly place; you'll fit right in...</p>
          <p class="lead">
              <a class="btn btn-dark btn-lg" href="about" role="button">learn more</a>
          </p>
      </div>
  </div>
</div>
<p>meat</p>
<p>wheat</p>

<% include ./partials/foot %>
