:root {
    --main-bg-colour: #343a40;
    --main-fg-colour: #CBC5BF;
}

body, html {
  background-color: var(--main-bg-colour);
  color: var(--main-fg-colour);
}

a {
    color: inherit;
    text-decoration: none;
}

.jumbotron {
    color: var(--main-bg-colour);
}
